# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://payalUser1:Payal123@cluster0.8luai.mongodb.net/scalable_backend?retryWrites=true&w=majority

# JWT
JWT_SECRET=p@y4l$S1nh4_jwtS3cr3t_!xK92mNqL7vR3pT8wZ5uY6aB0cD1eF4gH
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=r3fr3$h_p@y4l_!mK81nPqM6vS2oU7xW4tY9aA3bC0dE5fG_S1nh4
JWT_REFRESH_EXPIRES_IN=30d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Gmail (use App Password, not your real password)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password
EMAIL_FROM=your_email@gmail.com

# Frontend URL (for email links)
CLIENT_URL=http://localhost:3000
